.App {
  text-align: center;
  padding: 2%
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container {
  padding: 0px 10px;
}

.chart-container-1 {
  flex: 0 0 auto;
  width: 40%;
}

.chart-container-2 {
  flex: 0 0 auto;
  width: 28%;
}

.chart-container-3 {
  flex: 0 0 auto;
  width: 28%;
}

.chart-container-4 {
  flex: 0 0 auto;
  width: 50%;
}

.chart-container-5 {
  flex: 0 0 auto;
  width: 50%;
}

.chart-container-6 {
  flex: 0 0 auto;
  margin-left: 600px;
}

.chart-container-7 {
  flex: 0 0 auto;
  width: 60%
}

.paragraph {
  margin-top: 50px;
  margin-bottom: 200px;
}