.App {
  text-align: center;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.main-container > div {
  padding: 0px 10px;
}

.chart-container-1 {
  height: 800px;
  flex: 0 0 auto;
  width: 33%;
}

.chart-container-2 {
  height: 800px;
  flex: 0 0 auto;
  width: 33%;
}

.chart-container-3 {
  height: 800px;
  flex: 0 0 auto;
  width: 33%;
}

.chart-container-4 {
  height: 800px;
  flex: 0 0 auto;
  width: 50%;
}

.chart-container-5 {
  height: 800px;
  flex: 0 0 auto;
  width: 50%;
}